<h1> hello abhi</h1>
<h2 [title]="h2Title" [innerHTML]="html"> hoe are you </h2>
<button (click)="buttonClicked($event)">click me</button>
<P (mouseout)="mouseOut($event)" 
(mouseover)="mouseOver($event)" [style.color]="ifmouseOver?'red':'green'">ABHISHEK</P>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>gender</th>
      <th>dob</th>
      <th>address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngfor="let a1 of StdArr">
      <td>{{a1.name}}</td>
      <td>{{a1.gender}}</td>
      <td>{{a1.dob}}</td>
      <td>{{a1.address}}</td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>